<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="rcp.app"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/rcp.app/css/default.css">
         </property>
         <property
               name="appName"
               value="rcp.app">
         </property>
      </product>
   </extension>

</plugin>
